{% extends 'plantilla/plantilla.html' %}
{% block content %}
  <h1>Listado de Artículos</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      {% for articulo in articulos %}
        <tr>
          <td>{{ articulo.nombre }}</td>
          <td>{{ articulo.precio }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div style="text-align: center;">
      <a href="{% url 'chart_view' %}" class="btn btn-primary">Ver Gráfico</a>
  </div>
{% endblock %}
